@charset "utf-8";
footer {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 0.8em;
    font-family: Arial;
    display: block;
}
header {
    margin-top: 10px;
    margin-bottom: 0px;
}
header,footer {
    height: 30px;
}
#time {
    float: right;
}
#heading > h1 {
    font-size: 1.5em;
    margin-top: 0px;
}
p {
    width: 50%;
    margin-inline: auto;
}
.headings {
    font-family: 'Comic Sans MS';
/*     margin-top: 2px; */
    display: block;
}
.color-palette {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-color: black;
    display: inline-block;
    margin: auto 20px;
}
.stripes {
    background-color: rgb(184, 134, 134);
}
.background {
    background-color: rgb(71, 120, 120);
}
.text-color {
    background-color: orange;
}
