@charset "utf-8";
footer {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 0.8em;
    font-family: Arial;
}
header {
    margin-top: 10px;
    margin-bottom: 0px;
}
header,footer {
    height: 30px;
}
* {
    overflow: hidden;
}
#time {
    float: right;
}
#heading > h1 {
    font-size: 1.5em;
    margin-top: 0px;
}
p {
    width: 50%;
    margin-inline: auto;
}
.headings {
    font-family: 'Comic Sans MS';
}
.color-palette {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: auto 20px;
}
.stripes {
    background-color: rgb(184, 134, 134);
}
.background {
    background-color: rgb(71, 120, 120);
}
.text-color {
    background-color: orange;
}
