@charset "utf-8";
body {
    background-color: rgb(184, 134, 134);
}
#body-container {
    text-align: center;
    color: orange;
    background-color: rgb(71, 120, 120);
    height: 100%;
    width: 80vw;
    margin: auto;
}
main {
    margin: auto;
    height: 88vh;
    width: 50vw;
}
ul {
    list-style-type: none;
}
footer {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 0.8em;
}
#photo {
    height: 500px;
    width: auto;
}
.validate {
    height: 30px;
    width: auto;
}
