<h2 class="page-name">Fizzbuzz 3</h2>
<h3 id="welcome">Welcome to Scripts Galore</h3>
<form>
    <label for="first-name">Enter your first name here</label>
    <input type="text" id="first-name"><br>
    <label for="middle-initial">Enter your middle initial here</label>
    <input type="text" id="middle-initial"><br>
    <label for="last-name">Enter your last name here</label>
    <input type="text" id="last-name"><br>
    <script src="fizzbuzz3.js"></script>
    <button onclick="fizzBuzzSubmit()" type="button">Click</button>
</form>
<ul id="fizzbuzz"><!-- List items will appear here --></ul>