<h2 class="page-name">Fizzbuzz 4</h2>
<h3 id="welcome">Welcome to Scripts Galore</h3>
<form>
    <label for="first-name">Enter your first name here</label><br>
    <input type="text" id="first-name"><br>
    <label for="middle-initial">Enter your middle initial here</label><br>
    <input type="text" id="middle-initial"><br>
    <label for="last-name">Enter your last name here</label><br>
    <input type="text" id="last-name"><br>
    <label for="first-divisor">First divisor</label><br>
    <input type="number" id="first-divisor"><br>
    <label for="second-divisor">Second divisor</label><br>
    <input type="number" id="second-divisor"><br>
    <label for="third-divisor">Third divisor</label><br>
    <input type="number" id="third-divisor"><br>
    <label for="first-output">First output</label><br>
    <input type="text" id="first-output"><br>
    <label for="second-output">Second output</label><br>
    <input type="text" id="second-output"><br>
    <label for="third-output">Third output</label><br>
    <input type="text" id="third-output"><br>
    <label for="count">Count</label><br>
    <input type="number" id="count"><br>
    <label for="default-output">Default output</label><br>
    <input type="text" id="default-output"><br>
    <button onclick="fizzBuzzSubmit()" type="button">Click</button>
    <script src="fizzbuzz4.js"></script>
</form>
<ul id="fizzbuzz"><!-- List items will appear here --></ul>