@charset "utf-8";
body {
    background-color: #B88686;
}
p,li {
    font: size 1em;
}
.header a {
    cursor: pointer;
}
#body-container, footer {
    color: orange;
    text-align: center;
    background-color: #477878;
    height: 100%;
    width: 80vw;
    margin: 0 auto;
}
main {
    margin: auto;
    width: 60vw;
    text-align: left;
    min-height: 70vh;
}
#brand {
    margin-top: 10px
}
h1 {
    text-align: center;
}
header {
    margin-top: 10px;
    margin-bottom: 10px;
}
footer {
    margin-top: 0px;
    margin-bottom: 10px;
}
#photo {
    height: 500px;
    width: auto;
}
.validate {
    height: 30px;
    width: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}
a, a:visited {
    color: cyan;
}
figure {
    float: right;
}
#headings {
    font-family: 'Comic Sans MS';
}
.links {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #444;
    height: 20px;
    width: 100px;
    background-color: #477878;
}
.links:hover {
    background-color: black;
}
header a {
    font-size: 1em;
}
.links a {
    margin: auto;
}
.color-palette {
    border-radius: 50%;
    border: #444 1px solid;
    height: 40px;
}
.background {
    background-color: #477878;
}
.stripes {
    background-color: #B88686;
}
.text-color {
    background-color: orange;
}
.color-palette, .color-palette-description {
    display: inline-block;
    margin: auto 40px;
    width: 40px;
}
.current {
    background-color: black;
}
.links,label,input[type='text'],input[type='number'] {
    margin: 5px;
}
label {
    width: 20%;
    display: inline-block;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}