@charset "utf-8";
body {
    background-color: #B88686;
}
#body-container, footer {
    color: orange;
    text-align: center;
    background-color: #477878;
    height: 100%;
    width: 80vw;
    margin: 0 auto;
/*     padding-left: 20px;
    padding-right: 20px; */
}
main {
    margin: auto;
    width: 60vw;
    text-align: left;
    min-height: 70vh;
}
h1 {
    text-align: center;
}
footer {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 0.8em;
}
#photo {
    height: 500px;
    width: auto;
}
.validate {
    height: 30px;
    width: auto;
    margin-top: 4px;
}
a, a:visited {
    color: cyan;
}
figure {
    float: right;
}
.links {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #444;
    height: 22px;
    width: 84px;
    padding: auto;
    background-color: #477878;
}
header a {
    font-size: 1em;
}